@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Sniglet&display=swap");
@import "tailwindcss";
@import "katex/dist/katex.min.css";

/* https://tailwindcss.com/docs/v4-beta */
:root {
  --font-display: "Sniglet", "sans-serif";
  --font-heading: "Fraunces", "serif";
  --brand-color: var(--color-sky-600);
}

@layer base {
  html,
  body,
  #app {
    height: 100%;
  }
  :root {
    min-height: 0;
    min-width: 0;
  }
  body {
    font-family: var(--font-display);
    background: var(--color-sky-100);
    color: var(--color-sky-950);
    max-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: large;
    color: var(--brand-color);
  }
  .font-fraunces {
    font-family: var(--font-heading);
  }
}
